/**
 * Type
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-weight: $font-weight-normal;
  font-style: normal;
  letter-spacing: $header-letter-spacing;
  line-height: $header-line-height;
  margin: $header-margin;
}

h1 { font-size: $h1-font-size-default; font-size: $h1-font-size; }
h2 { font-size: $h2-font-size-default; font-size: $h2-font-size; }
h3 { font-size: $h3-font-size-default; font-size: $h3-font-size; }
h4 { font-size: $h4-font-size-default; font-size: $h4-font-size; }
h5 { font-size: $h5-font-size-default; font-size: $h5-font-size; }
h6 { font-size: $h6-font-size-default; font-size: $h6-font-size; }

h5,
h6 {
  text-transform: uppercase;
}

ol,
ul {
  margin-left: 1.5rem;
}

p {
  margin-bottom: $p-bottom-margin;
}

p,
li,
td, {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

a {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-decoration: none;
  cursor: pointer;
  color: $link-color;

  &:visited {
    color: $link-color;
  }
  &:hover,
  &:active,
  &:focus {
    color: $color-secondary;
    text-decoration: none;
  }

}
