/**
 * Variables
 */

// ----------- colors

/* 
Some colors from "Smarter defaults for colors on the web,"
just for the demo at: http://simplr.elmnt.com
Credit: Adam Morse (mrmrs): https://github.com/mrmrs/colors
*/

$color-primary:   red;
$color-secondary: orange;

// ----------- base.scss

$html-font-size: 18px;
$baseline:       1rem;

// Google font used: Lato: 400/700

$base-color:       #333;
$base-font-family: 'Open Sans', sans-serif;

$link-color: $color-primary;

$base-font-size:   1rem;
$base-line-height: 1.5em;

$font-weight-normal: 400;
$font-weight-bold:   700;

$global-trans-time: .25s;
$global-easing:     ease-out;

// ----------- type.scss

$header-letter-spacing: 0.025em;
$header-line-height:    1.35em;
$header-margin:         0 0 2rem 0;

$h1-font-size-default: 40px;
$h2-font-size-default: 32px;
$h3-font-size-default: 24px;
$h4-font-size-default: 16px;
$h5-font-size-default: 16px;
$h6-font-size-default: 16px;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$p-bottom-margin: 2rem;

// ----------- grid.scss

$container-pad:       0 $baseline;
$container-max-width: 100%;

$wrap-max-width:        1200px;
$wrap-min-width:        100px;
$wrap-single-max-width: 800px;

$grid-min-width:     800px;
$multi-grid-padding: $baseline;

$columns: 20,25,30,33,40,50,60,67,70,75,80,100;
